[Unit]
Description=Docker volume plugin for vaultfs
Documentation={{.URL}}
After=network-online.target docker.service vault.service vaultfs.service
Wants=network-online.target

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=2
EnvironmentFile=/etc/sysconfig/vaultfs
ExecStart=/usr/bin/vaultfs docker --address=${VAULT_ADDRESS} --token=${VAULT_TOKEN} ${VAULT_MOUNTPOINT}

[Install]
WantedBy=multi-user.target
