[Unit]
Description=VaultFS mounts arbitrary Vault prefixes in a FUSE filesystem
Documentation={{.URL}}
After=network-online.target docker.service vault.service
Requires=vault.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=2

Type=forking
EnvironmentFile=/etc/sysconfig/vaultfs.sysconfig
ExecStart=/vagrant/vault/vaultfs/vaultfs-bootstrap.sh
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
