[Unit]
Description=Vault is a tool for managing secrets
After=consul.service
Requires=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=2

EnvironmentFile=/etc/sysconfig/vault
ExecStart=/usr/bin/vault server -config=${CONFIG_DIR} ${EXTRA_OPTS}
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
